<template>
  <LayoutVue>
    <section class="section section-light blank-section column is-12 mb-6 pb-6">
      <div class="columns is-multiline">
        <div class="title is-1 mb-3 pl-5">Comment ça marche ?</div>
        <div class="column is-12 py-1 has-text-justified pl-5">
          Le projet OCoPP soutient la modernisation et l'amélioration des
          systèmes d’informations utilisés au niveau communautaire sur la
          disponibilité et l’accessibilité des traitements essentiels. Cette
          plateforme permet la visualisation des statistiques des intrants
          regroupés par pays sous forme de graphe et de tableaux (tableau de
          bord)
        </div>
        <div class="is-mobile-justify-content pl-5">
          <HowWorkCameroun />
          <HowWorkBurkina />
        </div>
      </div>
    </section>
  </LayoutVue>
</template>

<script>
import HowWorkBurkina from '~/components/HowWorkBurkina.vue';
import HowWorkCameroun from '~/components/HowWorkCameroun.vue';

export default {
  components: {
    HowWorkBurkina,
    HowWorkCameroun,
  },
  metaInfo: {
    title: 'Comment ça marche ?',
  },
  filters: {
    // Filter definitions
    Upper(value) {
      const leftletter = value.substring(0, 1);
      const rightvalue = value.substring(1);
      return leftletter.toUpperCase() + rightvalue;
    },
  },
  data() {
    return {
      isSubcategorie: false,
      categories: [],
      category: 'comment ça marche ?',
    };
  },
  methods: {},
};
</script>

<style scoped lang="scss">
@import '../variables.scss';

.background-orange {
  background-color: $secondary-color;
}
</style>
