<template>
  <LayoutVue container="">
    <Welcome />
    <section
      id="section-thematiques"
      class="section section-grey custom-container"
    >
      <div class="block">
        <p class="card-section-header title">Quelques Indicateurs</p>
        <div class="grid is-hidden-mobile">
          <div class="card flex-center">
            <Analytic
              :indice-name="recapData.produits + ' Produits'"
              icon="pills.svg"
            />
          </div>
          <div class="card flex-center">
            <Analytic
              :indice-name="recapData.centres + ' Centres'"
              icon="location.svg"
            />
          </div>
          <div class="card flex-center">
            <Analytic
              :indice-name="
                '+' +
                $options.filters.formatNumber(recapData.beneficiaires) +
                ' Bénéficiaires'
              "
              icon="people.svg"
            />
          </div>
          <div class="card">
            <Analytic
              :indice-name="
                $options.filters.toPercent(recapData.taux_approvisionnement) +
                ' de taux de satisfaction d\'approvisionnement'
              "
              icon="truck.svg"
            />
          </div>
          <div class="card">
            <Analytic
              :indice-name="
                $options.filters.formatNumber(recapData.duree_moyenne) +
                ' jours en moyenne de rupture de stocks'
              "
              icon="duration.svg"
            />
          </div>
          <div class="card">
            <Analytic
              :indice-name="
                $options.filters.toPercent(recapData.taux_peremption) +
                ' de taux de produits périmés'
              "
              icon="perime.svg"
            />
          </div>
        </div>
      </div>
      <b-carousel class="is-hidden-tablet">
        <b-carousel-item>
          <section :class="`hero is-medium `">
            <div class="hero-body has-text-centered">
              <Analytic
                :indice-name="recapData.produits + ' Produits'"
                icon="pills.svg"
              />
            </div>
          </section>
        </b-carousel-item>
        <b-carousel-item>
          <section :class="`hero is-medium `">
            <div class="hero-body has-text-centered">
              <Analytic
                :indice-name="recapData.centres + ' Centres'"
                icon="location.svg"
              />
            </div>
          </section>
        </b-carousel-item>
        <b-carousel-item>
          <section :class="`hero is-medium `">
            <div class="hero-body has-text-centered">
              <Analytic
                :indice-name="
                  '+' +
                  $options.filters.formatNumber(recapData.beneficiaires) +
                  ' Bénéficiaires'
                "
                icon="people.svg"
              />
            </div>
          </section>
        </b-carousel-item>
        <b-carousel-item>
          <section :class="`hero is-medium `">
            <div class="hero-body has-text-centered">
              <Analytic
                :indice-name="
                  $options.filters.toPercent(recapData.taux_approvisionnement) +
                  ' de taux de satisfaction d\'approvisionnement'
                "
                icon="truck.svg"
              />
            </div>
          </section>
        </b-carousel-item>
        <b-carousel-item>
          <section :class="`hero is-medium `">
            <div class="hero-body has-text-centered">
              <Analytic
                :indice-name="
                  $options.filters.formatNumber(recapData.duree_moyenne) +
                  ' jours en moyenne de rupture de stocks'
                "
                icon="duration.svg"
              />
            </div>
          </section>
        </b-carousel-item>
        <b-carousel-item>
          <section :class="`hero is-medium `">
            <div class="hero-body has-text-centered">
              <Analytic
                :indice-name="
                  $options.filters.toPercent(recapData.taux_peremption) +
                  ' de taux de produits périmés'
                "
                icon="perime.svg"
              />
            </div>
          </section>
        </b-carousel-item>
      </b-carousel>
      <div class="infos" style="margin-top: 5%">
        <p>Pour plus d'informations, <a href="#stats">cliquez ici</a></p>
      </div>
    </section>
    <Partner />
    <Statistique id="stats" />
  </LayoutVue>
</template>

<script>
import axios from 'axios';

import Analytic from '~/components/Analytic.vue';
import Partner from '~/components/Partner.vue';
import Statistique from '~/components/Statistique.vue';
import Welcome from '~/components/Welcome.vue';

export default {
  name: 'IndexPage',
  components: {
    Welcome,
    Partner,
    Statistique,
    Analytic,
  },
  metaInfo: {
    title: 'Accueil',
  },
  filters: {
    // Filter definitions
    toPercent(value) {
      return `${value.toLocaleString()}%`;
    },
    formatNumber(value) {
      return `${value.toLocaleString()}`;
    },
  },
  data() {
    return {
      recapData: {
        produits: 0,
        centres: 0,
        beneficiaires: 0,
        taux_approvisionnement: 0,
        duree_moyenne: 0,
        taux_peremption: 0,
      },
      isSubcategorie: false,
    };
  },
  async mounted() {
    try {
      const resultsCameroun = await axios.get(
        process.env.GRIDSOME_API_INDICATOR_CAMEROUN
      );
      const resultsBurkina = await axios.get(
        process.env.GRIDSOME_API_INDICATOR_BURKINA_FASO
      );
      this.recapData = {
        produits: resultsCameroun.data.produits + resultsBurkina.data.produits,
        centres: resultsCameroun.data.centres + resultsBurkina.data.centres,
        beneficiaires:
          resultsCameroun.data.beneficiaires +
          resultsBurkina.data.beneficiaires,
        taux_approvisionnement:
          (resultsCameroun.data.taux_approvisionnement +
            resultsBurkina.data.taux_approvisionnement) /
          2,
          duree_moyenne:
          (resultsCameroun.data.duree_moyenne +
            resultsBurkina.data.duree_moyenne) /
          2,
        taux_peremption:
          (resultsCameroun.data.taux_peremption +
            resultsBurkina.data.taux_peremption) /
          2,
      };
    } catch (error) {
    }
  },
};
</script>

<style>
@media only screen and (min-width: 1024px) {
  .contentMarges {
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
}
@media only screen and (max-width: 768px) {
  .card-section-header {
    text-align: center;
  }
}

@media only screen and (max-width: 415px) {
  .is-category-touch {
    margin-bottom: 2em;
  }

  .is-notif-description {
    margin-top: -4em;
  }

  .card-section-header {
    font-size: 1.7rem;
    line-height: 1.25em;
    font-family: 'Evolventa', 'lato', sans-serif;
    font-weight: bold;
  }
}
.infos {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.hero {
  height: 320px !important;
  background-color: white;
  align-items: center;
  -webkit-box-shadow: 0 1px 2px rgba(201, 211, 223, 0.2);
  box-shadow: 0 1px 2px rgba(201, 211, 223, 0.2);
  box-shadow: var(--theme-box-shadow);
}
.hero-body {
  align-items: center;
  text-align: center;
}
.flex-center .card__content {
  justify-content: center;
  align-items: center;
  display: flex;
}
</style>
