<template>
  <LayoutVue>
    <div class="container px-3 has-background-white is-mobile-justify-content">
      <figure class="pt-6 is-flex is-justify-content-center">
        <g-image
          src="@/assets/ocopp_drugs.png"
          alt="Produit OCoPP"
          class="mx-auto"
          title="Produit OCoPP"
        />
      </figure>
      <h2 class="has-text-weight-bold my-5 is-size-3">Objectif général</h2>
      <p class="mb-2">
        Le projet Observatoire Communautaire des Pratiques Pharmaceutiques
        (OCoPP) est un projet qui vise à
        <strong>
          améliorer l’accès à l’information fiable sur les pratiques
          pharmaceutiques et à renforcer l’offre de soins pharmaceutiques au
          niveau des communautés
        </strong>
        des districts pilotes des pays ciblés.
      </p>
      <h2 class="has-text-weight-bold my-5 is-size-3">Objectifs spécifiques</h2>
      <p class="mb-5">
        Les Objectifs spécifiques de ce projet sont les suivants :
      </p>
      <ul class="mb-2">
        <li class="is-flex px-3 is-align-items-center mb-5">
          <em
            aria-hidden="true"
            class="fas fa-dot-circle mr-5 has-text-success"
          ></em>
          <p>
            <strong
              >Améliorer et renforcer la gestion communautaire des intrants et
              la dispensation des médicaments</strong
            >
            par la mise en place ou le renforcement d’un paquet minimum
            d’activités pharmaceutiques dans la lutte contre le paludisme, le
            VIH/SIDA et la tuberculose au sein des trois (3) districts pilotes
            des pays ciblés par le projet OCoPP
          </p>
        </li>
        <li class="is-flex px-3 is-align-items-center">
          <em
            aria-hidden="true"
            class="fas fa-dot-circle mr-5 has-text-success"
          ></em>
          <p>
            <strong
              >Mettre en place un système de veille, d’alerte précoce et une
              plateforme citoyenne d’accès à l’information fiable sur les
              pratiques pharmaceutiques</strong
            >
            dans les trois (03) districts pilotes de chaque pays ciblé par le
            projet OCoPP.
          </p>
        </li>
      </ul>
      <h2 class="has-text-weight-bold my-5 is-size-3">Axes d’intervention</h2>
      <p class="mb-5">
        Grâce à l’amélioration de l’accès à l’information fiable sur la
        disponibilité des médicaments et en général sur les pratiques
        pharmaceutiques au dernier kilomètre, le projet OCoPP contribuera à
        l’amélioration de :
      </p>
      <ul class="mb-2">
        <li class="is-flex px-3 is-align-items-center mb-5">
          <em
            aria-hidden="true"
            class="fas fa-dot-circle has-text-success mr-5"
          ></em>
          <p>
            <strong
              >l’efficacité des circuits d’approvisionnement en médicaments
              essentiels</strong
            >
            au traitement des 3 maladies (<strong
              >VIH/SIDA, Tuberculose, Paludisme</strong
            >) dans les postes et centres de santé et les hôpitaux, puis
          </p>
        </li>
        <li class="is-flex px-3 is-align-items-center">
          <em
            aria-hidden="true"
            class="fas fa-dot-circle has-text-success mr-5"
          ></em>
          <p>
            <strong
              >la gouvernance globale du médicament via un système de collecte
              de données, d’alerte et de partage d’informations
              communautaires</strong
            >
            qui repose sur les observatoires TAW et OCASS en place dans 2 pays :
            Burkina Faso, Cameroun.
          </p>
        </li>
      </ul>
      <h2 class="has-text-weight-bold my-5 is-size-3">
        Budget et source de financement
      </h2>
      <p class="mb-2">
        Le projet OCoPP est <strong> financé par Expertise France </strong> à
        hauteur de
        <strong> 600 000 euros </strong>
      </p>
      <h2 class="has-text-weight-bold my-5 is-size-3">Rôle du CHMP</h2>
      <p class="mb-2">
        <strong>Le CHMP est le porteur de projet</strong> et a la responsabilité
        de la mise en œuvre de toutes les activités du projet avec ses
        partenaires techniques <strong>RAME</strong> (Réseau Accès aux
        Médicaments Essentiels) au <strong>Burkina Faso</strong> et
        <strong>Positive-Génération</strong> au <strong>Cameroun</strong>.
      </p>
      <h2 class="has-text-weight-bold my-5 is-size-3">Bailleur</h2>
      <ul class="mb-2 pb-6">
        <li v-for="(partner, partner_index) in partners" :key="partner_index">
          <figure>
            <g-image :src="require(`@/assets/partners/${partner}`)" />
          </figure>
        </li>
      </ul>
      <h2 class="has-text-weight-bold mt-0 mb-5 is-size-3">Partenaires</h2>
      <div class="columns is-vcentered mb-6">
        <figure class="column is-narrow">
          <g-image
            alt="positive_generation"
            title="positive_generation"
            src="~/assets/logo/positive_generation.png"
          />
        </figure>
        <figure class="column is-narrow">
          <g-image alt="RAME" title="RAME" src="~/assets/logo/rame.png" />
        </figure>
      </div>
    </div>
  </LayoutVue>
</template>

<script>
export const ReadMore = 'Lire suite';
export default {
  name: 'ProjectOcoppPage',
  metaInfo: {
    title: 'Projet OCoPP',
  },
  data() {
    return {
      partners: ['expertise_france.png'],
    };
  },
  methods: {
    insertSpacing(index, array, space) {
      if (index + 1 < array.length) {
        return space;
      }
      return 0;
    },
  },
};
</script>

<style lang="scss">
.main_title {
  min-height: 20rem;
  margin-top: -0.75rem !important;
}
@media (max-width: 767px) {
  template {
    text-align: justify;
  }
}
</style>
