<template>
  <div class="card__content">
    <div class="block" style="text-align: center">
      <img
        :src="require(`@/assets/${icon}`)"
        style="width: 70px; height: 70px"
      />
      <h2>{{ indiceName }}</h2>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AnalyticComponent',
  props: {
    indiceName: {
      type: String,
      default: '',
    },
    icon: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      link: '',
    };
  },
};
</script>
<style scoped lang="scss">
@import '../variables.scss';

@media only screen and (min-width: 1024px) {
  .title.is-2 {
    font-size: 1rem;
  }
}
.title.is-2 {
  font-size: 1.2rem;
}
</style>
