<template>
  <section class="section section-lightest-grey has-text-centered">
    <h2 class="text-contain">
      Cette plateforme est une initiative du projet OCoPP et de ses partenaires
    </h2>
    <div class="container py-6">
      <div
        class="columns mx-0 is-mobile is-multiline is-vcentered is-justify-content-center"
      >
        <figure class="column image is-narrow is-align-items-center">
          <a href="https://www.chmp.org/projet-ocopp/">
            <g-image
              alt="OCopp"
              title="Observatoire Communautaire des Pratiques Pharmaceutiques (OCoPP)"
              src="~/assets/logo/lok.png"
            />
          </a>
        </figure>
        <figure class="column image is-narrow is-align-items-center">
          <a href="https://www.chmp.org/" target="_blank">
            <g-image
              alt="CHMP"
              title="CHMP Centre Humanitaire des Métiers de la Pharmacie"
              src="~/assets/logo/chmp.png"
            />
          </a>
        </figure>
        <figure class="column image is-narrow is-align-items-center">
          <a href="https://www.expertisefrance.fr/" target="_blank">
            <g-image
              alt="Expertise France"
              title="Expertise France"
              src="~/assets/partners/expertise_france.png"
            />
          </a>
        </figure>
        <figure class="column image is-narrow is-align-items-center">
          <a href="https://positive-generation.org/" target="_blank">
            <g-image
              alt="Positive Generation"
              title="Positive Generation"
              src="~/assets/logo/positive_generation.png"
            />
          </a>
        </figure>
        <figure class="column image is-narrow is-align-items-center">
          <a href="https://www.rame-int.org/" target="_blank">
            <g-image alt="RAME" title="RAME" src="~/assets/logo/rame.png" />
          </a>
        </figure>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'PartnerComponent',
};
</script>
<style lang="scss" scoped>
.image {
  & img {
    max-width: 128px;
    max-height: 128px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
  .text-contain {
    padding-right: 30px;
    padding-left: 30px;
  }
}
</style>
